body {
    background-color: $main_color;
    font-family: $main-font;
    text-align: center;
    color: $font-color;
}

.container {
    margin: auto;
    width: 800px;

    .txt-explain {
        font-weight: normal;
    }

    #input {
        width: 400px;
        height: 2rem;
        font-size: 14px;
    }

    form {
        #input {
            text-align: center;
        }
    }
}

.table-result {
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
    thead {
        tr {
            th {
                border: 1px solid gray;
                height: 40px;
                padding: 0px;
                font-weight: bold;
            }
        }
    }
    tbody {
        tr {
            td {
                border: 1px solid gray;
                height: 40px;
                padding: 0px;
            }
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    padding-top: 200px;
    .titleWin {
        color: white;
        font-weight: normal;
        font-size: 90px;
    }
    .close {
        background-color: orangered;
        width: 15%;
        margin: auto;
        padding: 10px;
    }
    .close a {
        text-decoration: none;
        color: white;
    }
}

.warning {
    color: red;
    font-weight: bold;
}
